/***
 *** Global
 ***/
 
 .task-item {
     margin: 0.4em;
    }
    
/***
*** Card
***/   
mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-card:hover {
    cursor: pointer;
    background-color: var(--background-color);
}
 
/***
*** Checkbox
***/
mat-checkbox {
    margin-right: 0.4em;
    ::ng-deep .mat-checkbox-frame,
    ::ng-deep .mat-checkbox-background {
        border-radius: 50% !important;
    }
}


mat-checkbox.mat-checkbox.mat-accent.mat-checkbox-checked {
    margin-right: 0.4em;
    ::ng-deep .mat-checkbox-frame,
    ::ng-deep .mat-checkbox-background,
    ::ng-deep .mat-ripple-element {
        border-radius: 50% !important;
        background-color: var(--checked-button-color) !important;
    }
}

mat-checkbox.mat-checkbox.mat-accent {
    ::ng-deep .mat-ripple-element {
        background-color: var(--checked-button-color) !important;
    }
}

.completed {
    text-decoration: line-through;
}