/** Main Content */

.main-content  {
    display: flex;
    height: 90%;
}

app-tasks {
    flex: 1.5;
}


app-calendar {
    flex: 6;
    height: 100%;
}

app-day {
    flex: 2;
    height: 100%;
}