* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

h2 {
    text-align: center;
}

mat-form-field {
    display: block;
    margin: 1em;
}

mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.create {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
}

p {
    text-align: center;
}

.color {
    width: 1em;
    height: 1em;
    display: inline-block;
}