.container {
    height: 100%;
    padding: 0.6em;
}


/** Event Panel */

.events {
    height: 100%;
    flex: 2;
    background-color: var(--secondary-color);
}

.event-header {
    ::ng-deep .mat-card-header-text {
        margin: 0;
        padding: 0;
        width: 0;
    }
}

.event-title-wrapper {
    width: 100%;
    color: var(--light-text-color);
}

.event-title {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-area {
    background-color: var(--quaternary-background-color);
    border-radius: 5px;
    padding-top: 0.6em;
    height: 85%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.event-area::-webkit-scrollbar {
    display: none;
}

.new-button {
   width: fit-content;
    background-color: var(--primary-button-color);
    color: var(--light-text-color);
}

.plan-button {
    width: fit-content;
    background-color: var(--secondary-button-color);
    color: var(--secondary-color);
}

app-events {
    overflow: hidden;
}

mat-card-actions {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
