<button *ngIf="viewMode === 'calendar'" class="day mat-elevation-z4" (click)="goToDay()">
    <time [ngClass]="{'today': isToday$ | async }">{{calendarDay}}</time>
</button>

<div *ngIf="viewMode === 'day'" class="container">
    <mat-card class="events mat-elevation-z4">

        <mat-card-header class="event-header">
            <div class="event-title-wrapper">
                <mat-card-title class="event-title">
                    <button mat-icon-button aria-label="Left arrow button to navigate to previous day"
                        (click)="goToPreviousDay()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span (click)="goToDay()">
                        {{ ( isToday$ | async ) ? 'TODAY' : dateString | date:'fullDate' }}
                    </span>
                    <button mat-icon-button aria-label="Right arrow button to navigate to next day"
                        (click)="goToNextDay()">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-card-title>
            </div>
        </mat-card-header>

        <mat-card-content class="event-area">
            <app-events></app-events>
        </mat-card-content>

        <mat-card-actions>
            <button *ngIf="route === '/day'" mat-button class="calendar-button mat-elevation-z4"
                (click)="goToCalendar()">Calendar View</button>

            <div>
                <button mat-button class="plan-button mat-elevation-z4" (click)="planDay()">Plan Day</button>
                <button mat-button class="new-button mat-elevation-z4" (click)="addEvent()">New Event</button>
            </div>
        </mat-card-actions>

    </mat-card>

</div>