.container {
    height: 100%;
    padding: 0.6em;
}


/** Event Panel */

.events {
    height: 100%;
    flex: 2;
    background-color: var(--secondary-color);
}

.event-header {
    ::ng-deep .mat-card-header-text {
        margin: 0;
        padding: 0;
        width: 0;
    }
}

.event-title-wrapper {
    width: 100%;
    color: var(--light-text-color);
}

.event-title {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-area {
    background-color: var(--cream-background-color);
    border-radius: 5px;
    padding-top: 0.6em;
    height: 85%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.event-area::-webkit-scrollbar {
    display: none;
}

.new-button {
    width: 125px;
    background-color: var(--primary-button-color);
    color: var(--light-text-color);
}

.plan-button {
    width: 125px;
    background-color: var(--secondary-button-color);
    color: var(--dark-text-color);
}

app-events {
    overflow: hidden;
}

mat-card-actions {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-header {
    height: 7.5%;
}

mat-card-actions div {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.calendar-button {
    flex: 0.5;
    min-width: 150px;
    background-color: var(--checked-button-color);
}

mat-card-title span {
    text-align: center;
}

mat-card-title span:hover {
    cursor: pointer;
}



/**
    Calendar Mode
*/

.day {
    background-color: var(--cream-background-color);
    border:none;
    height: 12vw;
    width: 100%;
    max-height: 125px;
    position: relative;
}

.day.different-month {
    background-color: var(--grey-background-color);
}

.day:hover {
    cursor: pointer;
    border: solid 2px var(--grey-background-color);
}

time {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
}

.today {
    background-color: var(--primary-color);
    padding: 0.4em;
    border-radius: 50%;
    box-shadow: 0 2px 2px #aaa;
    color: var(--light-text-color);
}