
/** Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span, a, .mat-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}


/** Header */

.header {
    height: 10%;
    background-color: var(--primary-color);
}

.header-spacer {
    flex: 1 1 auto;
}

.header a {
    margin: 1.6em;
    color: var(--light-text-color);
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

mat-toolbar span.app-title {
    font-size: 1.8em;
    letter-spacing: 0.1em;
}
