<div class="calendar">
    <div class="month">
        <span class="calendar-title">{{ currentDate | date:'LLLL yyyy' }}</span>
    </div>
    <div class="day-of-week">
        <span>Sunday</span>
        <span>Monday</span>
        <span>Tuesday</span>
        <span>Wednesday</span>
        <span>Thursday</span>
        <span>Friday</span>
        <span>Saturday</span>
    </div>
    <div class="days">
        <app-day *ngFor="let date of calendarDates" [viewMode]="'calendar'"
            [dateString]="(date | date:'MMMM d, y, h:mm:ss a z') || ''">
        </app-day>
    </div>
</div>