<div *ngFor="let hour of hour$ | async">
    <div class="hour-divider">
        <div class="text mat-typography">{{ hour.time.hours | time }}</div>
        <div class="line">
            <mat-divider [ngStyle]="{'border-top-color': '#777'}" inset="true"></mat-divider>
        </div>
    </div>
    <div class="thirty-minute-block" (click)="onClickTimeBlock()">
        <div *ngFor="let event of hour.events" class="event" [ngStyle]="{
          'height': (event.duration / 30) * 100 + '%',
          'width': event.width + '%',
          'margin-left': event.offset + '%'
        }" (click)="onClickEvent(event)">
            <div class="event-bar" [ngStyle]="{'background-color': event.color}"></div>
            <span [ngStyle]="{'background-color': event.color, 'opacity': 0.5}">{{ event.title }}</span>
        </div>
    </div>
    <div class="thirty-minute-divider">
        <mat-divider [ngStyle]="{'border-top-style': 'dotted'}" inset="true"></mat-divider>
    </div>
    <div class="thirty-minute-block" (click)="onClickTimeBlock()"></div>
</div>