/* Custom Colors */

:root {
    --background-color: #9ac3ff;
    --light-background-color: #d4e1f5;
    --secondary-background-color: #c8deff;
    --ternary-background-color: #5e6a97;
    --quaternary-background-color: rgb(255, 255, 255);
    
    --primary-color: #0b3568;
    --secondary-color: #437fc7;
    
    --background-color-opacity: rgba(154, 195, 255, 0.7);
    --light-background-color-opacity: rgba(18, 192, 178, 0.658);
    --primary-color-opacity: rgba(11, 53, 104, 0.7);
    --secondary-color-opacity: rgba(98, 95, 255, 0.562);
    --ternary-color-opacity: rgba(255, 110, 110, 0.24);
    
    --primary-button-color: #b9732f;
    --secondary-button-color: var(--background-color);

    --checked-button-color: #c2edce;
    
    --light-text-color: #fff;
    --dark-text-color: var(--secondary-color);

}

/** Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // background-color: var(--background-color);
    background: url('./assets/tech-background.jpg') no-repeat fixed center;
    background-size: cover;

}

