/* Custom Colors */

:root {
    --background-color: #edf6ff;
    --secondary-background-color: #f4f5fb;
    --ternary-background-color: #bdbfc7;
    --quaternary-background-color: #fff;
    
    --primary-color: #6daffe;
    --secondary-color: #437fc7;

    --primary-button-color: #b9732f;
    --secondary-button-color: var(--background-color);

    --checked-button-color: #c2edce;
    
    --light-text-color: #fff;
    --dark-text-color: var(--secondary-color);

}

/** Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

