
:root {
    
    /* Custom Colors */
    --primary-background-color: #edf6ff;
    --light-background-color: #fff;
    --cream-background-color: #f6f6f2;
    --grey-background-color: #bdbfc7;
    
    --primary-color: #6daffe;
    --secondary-color: #437fc7;

    --light-text-color: #fff;
    --dark-text-color: var(--secondary-color);

    --primary-button-color: #b9732f;
    --secondary-button-color: var(--primary-background-color);
    --checked-button-color: #c2edce;

}

/** Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-background-color);
}

